.showcaseBanner {
  background: url('https://lf3-static.bytednsdoc.com/obj/eden-cn/dhozeh7vhpebvog/project/bg.png');
  background-size: cover;
  height: 320px;
  text-align: center;
  color: #333;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

.showcaseDescription {
  color: #666;
}

.showcaseContent {
  margin-left: -20px;
  margin-right: -20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.showcaseItem {
  padding-left: 20px;
  padding-right: 20px;
  flex: 0 0 50%;
  width: 50%;
  max-width: 50%;
  transition: transform .3s ease;
}

.showcaseItem:hover {
  transform: translateY(-2px);
}

.showcaseBody {
  position: relative;
  display: block;
  transition: transform .3s ease;
  box-shadow: 0 8px 24px rgba(163,177,191,.35);
  background: #fafafa;
  margin-bottom: 40px;
  overflow: hidden;
}

.showcaseImg {
  height: 306px;
}


.showcaseMeta {
  text-align: center;
  box-sizing: border-box;
  transition: transform .3s ease;
  padding: 0 20px;
}


.item:hover .body {
  transform: translateY(-2px);
}

.meta h5 {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 700;
  color: #333;
}

.meta p {
  color: #999;
  margin-top: 10px;
  font-size: 12px;
  line-height: 22px;
  font-weight: 400;
  overflow:hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
