.wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100% - 77px);
}
.header-wrapper {
  flex: 0 0 auto;
}
.header-wrapper .header {
  border-bottom: 1px solid #e6e8eb;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 24px;
}
.header-wrapper .demo-menu {
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
}
.header-wrapper .demo-menu .demo-menu-item {
  display: inline-block;
  line-height: 20px;
  padding: 6px 15px;
  margin: 0;
}

.demo-menu-item a {
  color: #3370ff;
}

.demo-menu-item.active a {
  color: #f90f0f;
}
.demo-menu-item a:hover {
  color: #6694ff;
}

.demo-menu-item.active a:hover {
  color: #f90f0f;
}

.multi-instance {
  color: brown;
  display: inline-block;
  margin-left: 15px;
  cursor: pointer;
}
.increment {
  margin-left: 12px;
  cursor: pointer;
  color: blue;
  margin-right: 10px;
}

.content {
  height: 100%;
  flex: 1 0 auto;
}

#root,
#submodule > div,
[__garfishmockhtml__],
[__garfishmockbody__] {
  height: 100%;
}
