**/node_modules/
dist/
lib/
es/
.DS_Store
.idea
**/coverage/
.vscode
.rts2_cache/
.yarn/
temp/
/docs
# .npmrc
**/.angular

# test result
cypress/screenshots
cypress/videos
cypress/downloads


# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

# Test files
**/coverage
test.js

# Log files
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
lerna-debug.log


# use pnpm ignore lock files
package-lock.json
yarn.lock
**/package-lock.json
**/yarn.lock
.wireit
