@import '../../less/variable.less';

.@{prefix}-descriptions-title,
.@{prefix}-descriptions-item-value {
  color: var(--color-text-4);
}
.@{prefix}-descriptions-title{
  text-align: left;
}
.@{prefix}-breadcrumb-item:last-child {
  color: var(--color-text-4);
}
